<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="youngtalents">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/youngtalent"
        android:label="YoungTalents"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="youngtalents.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="youngtalents.Register"></activity>
        <activity android:name="youngtalents.MainMenu"></activity>
        <activity android:name="youngtalents.Aufgaben"></activity>
        <activity android:name="youngtalents.Ersteller"></activity>
        <activity android:name="youngtalents.Logout"></activity>
        <activity android:name="youngtalents.Statistics"></activity>


    </application>

</manifest>
